@media screen and (max-width: 800px) {
  /* General */

  .main, .map, .mapContent, .benefits, .benefitsContent, .video, .form {
    width: 100%;
    margin: 3rem 0;
    padding: 0;
  }

  /* Header */

  .containerHeader {
    width: 100%;
    padding: 0;
    position: relative;
  }

  .containerHeader h1 {
    position: absolute;
    top: 50%;
    right: 15%;
    text-align: center;
  }

  .containerHeader img {
    width: 25%;
    margin: 0 0 0 15%
  }

  nav {
    position: static;
    text-align: center;
  }

  /* Home Page */
  /* Benefits Section */

  .benefitsList {
    width: 100%;
  }

  .benefitsImage {
    display: block;
    width: 75vw;
    margin: 1rem auto 0;
  }

  /* Products Page */

  .services h2, .services .servicesDescription, .services .servicesPrice {
    font-size: 100%;
  }

  .services li:hover h2 {
    font-size: 110%;
  }
}
